# Dati e Modelli
/models/
/sdxl_models/
/downloads/
/immagini/
/gfpgan/

# Ambiente Python
/venv/
.venv/
__pycache__/

# File sensibili e di sistema
api_key.txt
ngrok.exe
.DS_Store
FaceSwapApp.zip
.env
users.json

# Ignora tutti gli sticker per velocizzare Git
app/static/stickers/
app/static/results/
app/static/temp/

# Temporary debug images
app/temp/
temp/masks/
.venv/
