# Dati e Modelli
/models/
/sdxl_models/
/downloads/
/immagini/
/gfpgan/

# Ambiente Python
/venv/
__pycache__/

# File sensibili e di sistema
api_key.txt
ngrok.exe
.DS_Store
FaceSwapApp.zip
.env

# Ignora tutti gli sticker per velocizzare Git
app/static/stickers/
app/static/results/
temp/masks/
app/temp/