# -------------------------------------------------
#  Dipendenze base dell’app
# -------------------------------------------------
Flask==3.1.1
flask-cors==6.0.0
Flask-WTF==1.2.1
SQLAlchemy==2.0.30
python-dotenv==1.1.0         #  <-- mancava, ora c’è
requests==2.32.4
tqdm==4.67.1
jax==0.6.1
jaxlib==0.6.1
# -------------------------------------------------
#  Dev & test
# -------------------------------------------------
pytest==8.2.2
pytest-cov==5.0.0
yapf==0.43.0

# -------------------------------------------------
#  Import obbligatori ma leggeri
# -------------------------------------------------
opencv-contrib-python==4.11.0.86
segment-anything==1.0
Flask-Login==0.6.2
mediapipe==0.10.21
cffi==1.17.1
ml_dtypes==0.5.1
SQLAlchemy 